/* main.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #ffffff;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 20px;
    padding: 10px;
}

h1, h2 {
    color: #333;
}

h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

textarea, input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

form {
    margin-top: 20px;
}

/* Responsive layout adjustments */
@media (max-width: 600px) {
    header, main {
        padding: 15px;
    }
    button {
        padding: 12px 0;
    }
}
/* Add to main.css */

/* Navbar styling */
.navbar {
    background-color: #007bff;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #0056b3;
}
jmnode {
    max-width: initial;
  }
  jmnode > a {
    text-decoration: none;
    color: rgb(145, 145, 145);
  }
  .jsmind-inner {
      overflow: initial;
    }
  .mindmap {
    margin: 10px 40px;
  }

  svg {
    border: 1px solid #333;
    width: 1200px;
  }
  a {
    fill: #434343;
  }
  a:hover {
    fill: #09f;
  }