<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MITRE ATT&CK Navigator</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  #cell {
    border: 1px solid #d4a90d;
    padding: 10px;
  }
</style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>MITRE ATT&CK Navigator</h2>
      <div class="container text-center">
        <div class="row row-cols-5">
          {% for Domain in Domains %}
          <div class="col" id="cell">{{ Domain }}</div>
          {% endfor %}
          <div class="col row-cols-1">
          {% for Govcon in Govcons %}
          <div class="col" id="cell">
            <a href="{{ Govcon.1 }}">{{ Govcon.0 }}</a>
          </div>
          {% endfor %}
          </div>
          <div class="col row-cols-1">
          {% for Defcon in Defcons %}
          <div class="col" id="cell">
            <a href="{{ Defcon.1 }}">{{ Defcon.0 }}</a>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
