<!-- update_controls.html -->
<!DOCTYPE html>
{% load static %}   
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Controls</title>
    <link rel="stylesheet" href="{% static 'cs/main.css' %}">

</head>
<body>
  
    <header> <!-- Example Navbar Section in auditor_workflow.html -->
        <div class="navbar">
            <a href="{% url 'main_app:control_tree' %}">control tree</a>
          <a href="{% url 'main_app:auditor_workflow' %}">Update Controls</a>
          <a href="{% url 'main_app:program_interaction' %}">Program Interaction</a>
          <a href="{% url 'main_app:update_controls' %}">Auditor Workflow</a>
        </div>
        
    </header>
    <main>
        <section>
            <h2>Rule Update Notification</h2>
            <p>Rules have been updated successfully.</p>
            <button onclick="location.href='/notify_update/';">Notify Teams</button>
        </section>
        <section>
            <h2>Approval Process</h2>
            <button onclick="location.href='/approve_updates/';">Approve Updates</button>
            <button onclick="location.href='/deny_updates/';">Deny Updates
