<!-- program_interaction.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program Interaction</title>
    <link rel="stylesheet" href="{% static 'cs/main.css' %}">

</head>
<body>
 <!-- Example Navbar Section in auditor_workflow.html -->
<div class="navbar">
    <a href="{% url 'main_app:control_tree' %}">control tree</a>
    <a href="{% url 'main_app:auditor_workflow' %}">Update Controls</a>
    <a href="{% url 'main_app:program_interaction' %}">Program Interaction</a>
    <a href="{% url 'main_app:update_controls' %}">Auditor Workflow</a>
</div>

    <header>
        <h1>Program Management</h1>
    </header>
    <main>
        <section>
            <h2>Download Program</h2>
            <button onclick="window.location='/download_program/';">Download Program</button>
        </section>
        <section>
            <h2>Account Management</h2>
            <button onclick="location.href='/login/';">Login</button>
            <button onclick="location.href='/register/';">Register</button>
        </section>
        <section>
            <h2>Subscription Management</h2>
            <button onclick="location.href='/subscribe/';">Manage Subscription</button>
        </section>
        <section>
            <h2>User Management</h2>
            <form action="/update_credentials/" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="New Password">
                <button type="submit">Update Credentials</button>
            </form>
        </section>
    </main>
</body>
</html>
