<body class="main-bg"></body>
    <div class="login-container text-c animated flipInX">
            <div>
                <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
            </div>
                <h3 class="text-whitesmoke">Sign Up Template</h3>
                <p class="text-whitesmoke">Sign Up</p>
            <div class="container-content">
                <form action="{% url 'main_app:sign_up_page' %}" method="POST" enctype="multipart/form-data" class="margin-t">
                    <div id="signup-form">
                            {% csrf_token %}
                    <div class="form-group">
                        <p>Please Enter Your username :</p>
                     <input type="text" name="user_name" class="form-control" placeholder="Username" required=>

                    </div>
                    <div class="form-group">
                        <p>Please Enter Your password :</p>
                        <input type="password" name="password" class="form-control" placeholder="*****" required>

                    </div>
                    <div class="form-group">
                        <p>Please Enter Your email :</p>
                        <input type="email" name="email" class="form-control" placeholder="Example@gmail.com" required>
                    </div>
                    <div class="form-group">
                        <p>Please Enter Your phonenumber :</p>
                        <input type="tel" name="phone" class="form-control" placeholder="05XXXXXXXX" required=>

                    </div>
                    <button type="submit" class="btn signup" >Create Account</button>
                    {% if msg %}
                    <p style="color:red;">{{msg}}</p>
                     {% endif %}
                     <p>Clicking on <strong>Create Account</strong> Means that you agree to our <a href="javascript:void(0)">Terms of Services</a>.</p>
                </form>
                <p class="margin-t text-whitesmoke"><small> Your Name &copy; 2018</small> </p>
            </div>
        </div>
</body>
<script>
     // Handle form submission
var form = document.getElementById('form-container');
form.addEventListener('submit', function(event) {
  event.preventDefault(); // Prevent default form submission

  tap.createToken(card).then(function(result) {
    console.log(result);
    if (result.error) {
      // Inform the user if there was an error
      var errorElement = document.getElementById('error-handler');
      errorElement.textContent = result.error.message;
    } else {
      // Display success message
      var successElement = document.getElementById('success');
      successElement.style.display = "block";

      // Place the token into the hidden field in the form
      var tokenElement = document.getElementById('token');
      tokenElement.value = result.id;

      // Submit the form with the token
      form.submit();
    }
  });
});
</script>
<style>
    html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Text Align */
.text-c {
    text-align: center;
}
.text-l {
    text-align: left;
}
.text-r {
    text-align: right
}
.text-j {
    text-align: justify;
}

/* Text Color */
.text-whitesmoke {
    color: rgb(0, 0, 0)
}
.text-darkyellow {
    color: rgba(244, 243, 233, 0.432)
}

/* Lines */

.line-b {
    border-bottom: 1px solid #090800 !important;
}

/* Buttons */
.button {
    border-radius: 3px;
}
.form-button {
    background-color: rgb(86, 86, 86);
    border-color: rgb(0, 0, 0);
    color: #e6e6e6;
}
.form-button:hover,
.form-button:focus,
.form-button:active,
.form-button.active,
.form-button:active:focus,
.form-button:active:hover,
.form-button.active:hover,
.form-button.active:focus {
    background-color: rgb(148, 148, 148);
    border-color: rgb(255, 255, 255);
    color: #e6e6e6;
}
.button-l {
    width: 100% !important;
}

/* Margins g(global) - l(left) - r(right) - t(top) - b(bottom) */

.margin-g {
    margin: 15px;
}
.margin-g-sm {
    margin: 10px;
}
.margin-g-md {
    margin: 20px;
}
.margin-g-lg {
    margin: 30px;
}

.margin-l {
    margin-left: 15px;
}
.margin-l-sm {
    margin-left: 10px;
}
.margin-l-md {
    margin-left: 20px;
}
.margin-l-lg {
    margin-left: 30px;
}

.margin-r {
    margin-right: 15px;
}
.margin-r-sm {
    margin-right: 10px;
}
.margin-r-md {
    margin-right: 20px;
}
.margin-r-lg {
    margin-right: 30px;
}

.margin-t {
    margin-top: 15px;
}
.margin-t-sm {
    margin-top: 10px;
}
.margin-t-md {
    margin-top: 20px;
}
.margin-t-lg {
    margin-top: 30px;
}

.margin-b {
    margin-bottom: 15px;
}
.margin-b-sm {
    margin-bottom: 10px;
}
.margin-b-md {
    margin-bottom: 20px;
}
.margin-b-lg {
    margin-bottom: 30px;
}

/* Bootstrap Form Control Extension */

.form-control,
.border-line {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #000000;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.form-control:focus,
.border-line:focus {
    border-color: #000000;
    background-color: #ffffff;
    color: #000000;
}
.form-control,
.form-control:focus {
    box-shadow: none;
}
.form-control::-webkit-input-placeholder { color: #0b0a0a; }

/* Container */

.container-content {
    background-color: #3a3a3aa2;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #ffffff;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

/* Backgrounds */

.main-bg {

    background: #424242;
    background: linear-gradient( #424242, #212121);
}

/* Login & Register Pages*/

.login-container {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 100px;
}
.login.login-container {
    width: 300px;
}
.wrapper.login-container {
    margin-top: 140px;
}
.logo-badge {
    color: #e6e6e6;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}
</style>

