{% extends 'main_app/home_page.html' %}
{% block content %}
<h2>Checklist for {{ company.name }} - {{ sub_control }}</h2>

<ul>
    {% for file in audit_files %}
    <li>
        <h4>{{ file.file.name }}</h4>
        <div>
            <!-- Check the file URL -->
            <p>File URL: <a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a></p>
            <iframe src="{{ file.file.url }}" width="600" height="400" frameborder="0"></iframe>
        </div>
        <label>Status: </label>
        <form method="post" action="{% url 'main_app:save_checklist' %}">
            {% csrf_token %}
            <input type="hidden" name="file_id" value="{{ file.id }}">
            <select name="status">
                <option value="implemented" {% if file.status == 'implemented' %}selected{% endif %}>Implemented</option>
                <option value="semi_implemented" {% if file.status == 'semi_implemented' %}selected{% endif %}>Semi Implemented</option>
                <option value="not_implemented" {% if file.status == 'not_implemented' %}selected{% endif %}>Not Implemented</option>
            </select>
            <button type="submit">Save Status</button>
        </form>
        <label>Want to download the evidence: <a href="{{ file.file.url }}" target="_blank">Download {{ file.file.name }}</a></label>
    </li>
    {% endfor %}
</ul>
{% endblock %}
