{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Site{% endblock %}</title>
    
        <!-- External Stylesheets -->
        <link href="#" rel="stylesheet">
        <link rel="stylesheet" href="#">
        <link href="#" rel="stylesheet">
    
        <!-- Static Stylesheets and Scripts -->
        <link href="{% static 'cs/navbarstyle.css' %}" rel="stylesheet">
        <link href="{% static 'cs/style2.css' %}" rel="stylesheet">
        <script src="{% static 'js/navbarjs.js' %}"></script>
    
        <!-- JavaScript Libraries -->
        <script src="#"></script>
        <script src="#"></script>
    </head>

<body>
    {% block header %}
    <!-- Navbar Section -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Home</a>
                {% if request.user.is_authenticated %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link active" href="#">Controls Tree</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Company Add</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Report Generation</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Sessions</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
                        </ul>
                        <span class="navbar-text text-white">{{ request.user.username }}</span> 
                    </div>
                {% else %}
                    <li><a id="login-button" href="#"><span>Sign Up/Login</span></a></li>
                {% endif %}
            </div>
        </nav>
    </header>
    {% endblock %}
    {% block content %}
    <body class="is-boxed has-animations">
        <div class="body-wrap">
            <header class="site-header">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand header-brand">
                            <h1 class="m-0">
                                <a href="#">
                                    <img class="header-logo-image" src="{% static '/images/logo.svg' %}" alt="Logo">
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </header>
    
            <main>
                <section class="hero">
                    <div class="container">
                        <div class="hero-inner">
                            <div class="hero-copy">
                                <h1 class="hero-title mt-0">NCA</h1>
                                <p class="hero-paragraph">...</p>
                                <div class="hero-cta"><a class="button button-primary" href="#">Pre order now</a><a class="button" href="#">Get in touch</a></div>
                            </div>
                            ...
                        </div>
                    </div>
                </section>
                ...
                <footer class="site-footer">
                    <div class="container">
                        <div class="site-footer-inner">
                            <div class="brand footer-brand">
                                <a href="#">
                                    <img class="header-logo-image" src="{% static '/images/logo.svg' %}" alt="Logo">
                                </a>
                            </div>
                            <ul class="footer-links list-reset">
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">FAQ's</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                            <ul class="footer-social-links list-reset">
                                <li><a href="#"><span class="screen-reader-text">Facebook</span></a></li>
                                <li><a href="#"><span class="screen-reader-text">Twitter</span></a></li>
                                <li><a href="#"><span class="screen-reader-text">Google</span></a></li>
                            </ul>
                            <div class="footer-copyright">&copy; 2019 Solid, all rights reserved</div>
                        </div>
                    </div>
                </footer>
            </div>
        <script src="{% static 'js/main.min.js' %}"></script>
    </body>
    </html>
    {% endblock %}
