{% extends 'main_app/home_page.html' %}
{% load static %}
{% block content %}
<html lang="en"><head>
    <title>Login 10</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href={% static '/cs/style.css' %}>

  </head>
  <body class="img js-fullheight" style="background-image: url(&quot;{% static '/images/bg.png' %}&quot;); height: 1313px;">
  <section class="ftco-section">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-6 text-center mb-5">
                  
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-6 col-lg-4">
                  <div class="login-wrap p-0">
                <h3 class="mb-4 text-center">Have an account?</h3>
                <form action="{% url 'main_app:login_page' %}" method="POST" enctype="multipart/form-data" class="signin-form">
                    {% csrf_token %}   
                    <div class="form-group">
                        <input text class="form-control" name="username" placeholder="Username" required wfd-id="id0">
                    </div>
              <div class="form-group">
                <input id="password-field" type="password" class="form-control" name="password" placeholder="*****" wfd-id="id1">
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
              </div>
              {% if msg %}
              <p style="color:red;">{{msg}}</p>
              {% endif %}
              <input type="hidden" id="token" name="token" value="">
              <div class="form-group">
                  <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
              </div>
              <div class="form-group d-md-flex">
                  <div class="w-50">
                      <label class="checkbox-wrap checkbox-primary">Remember Me
                                    <input type="checkbox" checked="" wfd-id="id2">
                                    <span class="checkmark"></span>
                                  </label>
                              </div>
                            
              </div>
              dont have an account <a href="{% url 'main_app:sign_up_page' %}" >sign up here !</a>
            </form>
            <p class="w-100 text-center">— Or Sign In With —</p>
            <div class="social d-flex text-center">
                <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Google</a>
                <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> facebook</a>
            </div>
            </div>
              </div>
          </div>
      </div>
  </section>
  <script>
    var form = document.getElementById('form-container');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        tap.createToken(card).then(function (result) {
            console.log(result);
            if (result.error) {
                // Inform the user if there was an error
                var errorElement = document.getElementById('error-handler');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server
                var errorElement = document.getElementById('success');
                errorElement.style.display = "block";
                var tokenElement = document.getElementById('token');
                tokenElement.textContent = result.id;
                console.log(result.id);
            }
        });
    });
</script>
<script src= {% static '/js/jquery.min.js' %}></script>
<script src={% static "/js/popper.js" %}></script>
<script src={% static "/js/bootstrap.min.js" %}></script>
<script src={% static "/js/main.js" %}></script>

  <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon="{&quot;rayId&quot;:&quot;8de642426b69b984&quot;,&quot;serverTiming&quot;:{&quot;name&quot;:{&quot;cfExtPri&quot;:true,&quot;cfL4&quot;:true,&quot;cfSpeedBrain&quot;:true,&quot;cfCacheStatus&quot;:true}},&quot;version&quot;:&quot;2024.10.4&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;}" crossorigin="anonymous"></script>


</style>

</body>
</html>
{% endblock content %}